<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="connStr2" connectionString="server=152.136.71.28,1433;database=KTV_TEST;uid=HK;pwd=9527"/>
</connectionStrings>
</configuration>